@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --blue:#007bff;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#e83e8c;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#28a745;
    --teal:#20c997;
    --cyan:#17a2b8;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --theme: var(--cyan);
    --transition-time: 0.25s;
    --shadow: #bbb;
    --box-shadow-theme: rgba(23, 162, 184, 0.5);/*convert from cyan*/
}
body{
    font-family: Roboto, sans-serif;
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
@media (min-width:576px){
    .container{max-width:540px}
}
@media (min-width:768px){
    .container{max-width:720px}
}
@media (min-width:992px){
    .container{max-width:960px}
}
@media (min-width:1200px){
    .container{max-width:1140px}
}
.container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.mx-auto{
    margin: 0 auto;
}
.my-auto{
    margin: auto 0;
}
.pt-1, .py-1{
    padding-top: 0.25em !important;
}
.pt-2, .py-2{
    padding-top: 0.5em !important;
}
.pt-3, .py-3{
    padding-top: 1em !important;
}
.pt-4, .py-4{
    padding-top: 1.5em !important;
}
.pt-5, .py-5{
    padding-top: 3em !important;
}
.pb-1, .py-1{
    padding-bottom: 0.25em !important;
}
.pb-2, .py-2{
    padding-bottom: 0.5em !important;
}
.pb-3, .py-3{
    padding-bottom: 1em !important;
}
.pb-4, .py-4{
    padding-bottom: 1.5em !important;
}
.pb-5, .py-5{
    padding-bottom: 3em !important;
}

.pl-1, .px-1{
    padding-left: 0.25em !important;
}
.pl-2, .px-2{
    padding-left: 0.5em !important;
}
.pl-3, .px-3{
    padding-left: 1em;
}
.pl-4, .px-4{
    padding-left: 1.5em;
}
.pl-5, .px-5{
    padding-left: 3em;
}

.pr-1, .px-1{
    padding-right: 0.25em !important;
}
.pr-2, .px-2{
    padding-right: 0.5em !important;
}
.pr-3, .px-3{
    padding-right: 1em;
}
.pr-4, .px-4{
    padding-right: 1.5em;
}
.pr-5, .px-5{
    padding-right: 3em;
}

.p-1{
    padding: 0.25em !important;
}
.p-2{
    padding: 0.5em !important;
}
.p-3{
    padding: 1em !important;
}
.p-4{
    padding: 1.5em !important;
}
.p-5{
    padding: 3em !important;
}

.ml-1, .mx-1{
    margin-left: 0.25em;
}
.mr-1, .mx-1{
    margin-right: 0.25em;
}
.mt-1, .my-1{
    margin-top: 0.25em;
}
.mb-1, .my-1{
    margin-bottom: 0.25em;
}
.ml-2, .mx-2{
    margin-left: 0.5em;
}
.mr-2, .mx-2{
    margin-right: 0.5em;
}
.mt-2, .my-2{
    margin-top: 0.5em;
}
.mb-2, .my-2{
    margin-bottom: 0.5em;
}
.ml-3, .mx-3{
    margin-left: 1em;
}
.mr-3, .mx-3{
    margin-right: 1em;
}
.mt-3, .my-3{
    margin-top: 1em;
}
.mb-3, .my-3{
    margin-bottom: 1em;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
    flex-basis: 100%;
    width: 100%;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    flex-basis: 100%;
    width: 100%;
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    flex-basis: 100%;
    width: 100%;
}
@media (min-width: 576px){
    .col-sm-1{
        flex-basis: 8.3333%;
        width: 8.3333%;
    }
    .col-sm-2{
        flex-basis: 16.6666%;
        width: 16.6666%;
    }
    .col-sm-3{
        flex-basis: 25%;
        width: 25%;
    }
    .col-sm-4{
        flex-basis: 33.3333%;
        width: 33.3333%;
    }
    .col-sm-5{
        flex-basis: 41.6666%;
        width: 41.6666%;
    }
    .col-sm-6{
        flex-basis: 50%;
        width: 50%;
    }
    .col-sm-7{
        flex-basis: 58.3333%;
        width: 58.3333%;
    }
    .col-sm-8{
        flex-basis: 66.6666%;
        width: 66.6666%;
    }
    .col-sm-9{
        flex-basis: 75%;
        width: 75%;
    }
    .col-sm-10{
        flex-basis: 83.3333%;
        width: 83.3333%;
    }
    .col-sm-11{
        flex-basis: 91.6666%;
        width: 91.6666%;
    }
    .col-sm-12{
        flex-basis: 100%;
        width: 100%;
    }
}
@media (min-width: 768px){
    .col-md-1{
        flex-basis: 8.3333%;
    }
    .col-md-2{
        flex-basis: 16.6666%;
    }
    .col-md-3{
        flex-basis: 25%;
    }
    .col-md-4{
        flex-basis: 33.3333%;
    }
    .col-md-5{
        flex-basis: 41.6666%;
    }
    .col-md-6{
        flex-basis: 50%;
        width: 50%;
    }
    .col-md-7{
        flex-basis: 58.3333%;
    }
    .col-md-8{
        flex-basis: 66.6666%;
    }
    .col-md-9{
        flex-basis: 75%;
    }
    .col-md-10{
        flex-basis: 83.3333%;
    }
    .col-md-11{
        flex-basis: 91.6666%;
    }
    .col-md-12{
        flex-basis: 100%;
    }
    .d-md-block{
        display: block !important;
    }
}
@media (min-width: 992px){
    .col-lg-1{
        flex-basis: 8.3333%;
    }
    .col-lg-2{
        flex-basis: 16.6666%;
    }
    .col-lg-3{
        flex-basis: 25%;
    }
    .col-lg-4{
        flex-basis: 33.3333%;
        width: 33.3333%;
    }
    .col-lg-5{
        flex-basis: 41.6666%;
    }
    .col-lg-6{
        flex-basis: 50%;
    }
    .col-lg-7{
        flex-basis: 58.3333%;
    }
    .col-lg-8{
        flex-basis: 66.6666%;
    }
    .col-lg-9{
        flex-basis: 75%;
    }
    .col-lg-10{
        flex-basis: 83.3333%;
    }
    .col-lg-11{
        flex-basis: 91.6666%;
    }
    .col-lg-12{
        flex-basis: 100%;
    }
    .d-lg-block{
        display: block !important;
    }
}
/*POSITION setting*/
.position-relative{
    position: relative !important;
}
.position-absolute{
    position: absolute !important;
}
/*End of POSITION setting*/

/*DISPLAY setting*/
.d-md-block{
    display: none;
}
.collapse{
    display: none;
}
.show{
    display: block;
}
/*End of DISPLAY setting*/

/*FLEX setting*/
.d-flex{
    display: flex;
    flex-direction: row;
}
.flex-row{
    flex-direction: row !important;
}
.flex-column{
    flex-direction: column !important;
}
.justify-content-center{
    justify-content: center !important;
}
.justify-content-around{
    justify-content: space-around !important;
}
.justify-content-between{
    justify-content: space-between !important;
}
.justify-content-start{
    justify-content: flex-start !important;
}
.justify-content-end{
    justify-content: flex-end !important;
}
/*End of FLEX setting*/

/*FORM setting*/
.form-group{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    line-height: 2em;
}
.invalid-feedback{
    font-family: monospace, serif;
    font-size: 80%;
    color: var(--danger);
}
.invalid-feedback:before, .valid-feedback:before{
    content: "* ";
}
.valid-feedback{
    font-family: monospace, serif;
    font-size: 80%;
    color: var(--success);
}
/*End of FORM setting*/

/*BUTTON setting*/
.btn{
    padding: 0.5em 1em;
    border-radius: 0.25em;
    outline: none;
    text-decoration: none;
    transition: background-color var(--transition-time) ease-in-out, color var(--transition-time) ease-in-out;
}
.btn-outline-success{
    border: 1px solid var(--success);
    background-color: transparent;
    color: var(--success);
}
.btn-outline-success:hover{
    background-color: var(--success);
    color: var(--light);
}
.btn-outline-success:focus{
    box-shadow: 0px 0px 0px 0.25em rgba(40, 167, 69, 0.5);
}
.btn-outline-danger{
    border: 1px solid var(--danger);
    background-color: transparent;
}
.btn-outline-danger:hover{
    background-color: var(--danger);
    color: var(--light);
}
.btn-outline-danger:focus{
    box-shadow: 0px 0px 0px 0.25em rgba(220, 53, 69, 0.5);
}
.btn-light{
    background-color: var(--light);
    border: 1px solid var(--light);
    color: var(--dark);
}
.btn-light:hover{
    background-color:#e2e6ea;
    border-color:#dae0e5
}
.btn-light:focus{
    box-shadow: 0px 0px 0px 0.25em rgba(248,249,250,0.5);
}

.btn-outline-theme{
    border: 1px solid var(--theme);
    background-color: transparent;
}
.btn-outline-theme:hover{
    background-color: var(--theme);
}
.btn-outline-theme:focus{
    box-shadow: 0px 0px 0px 0.25em var(--box-shadow-theme);
}
/*End of BUTTON setting*/
/*WIDTH setting*/
.w-25{
    width: 25% !important;
}
.w-50{
    width: 50% !important;
}
.w-75{
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}
/*End of WIDTH setting*/
/*BORDER setting*/
.border{
    border: 1px solid var(--theme);
}
/*End of BORDER setting*/

/*ROUNDED setting*/
.rounded-circle{
    border-radius: 50% !important;
}
.rounded-pill{
    border-radius: 100px !important;
}
.rounded-top{
    border-top-left-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
}
.rounded-bottom{
    border-bottom-left-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}
.rounded-right{
    border-top-right-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}
.rounded-left{
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
}
.rounded-none, .rounded-0{
    border-radius: 0 !important;
}
/*End of ROUNDED setting*/

/*ANIMATION setting*/
.hover-shadow-outline{
    transition: all var(--transition-time) ease;
}
.hover-shadow-outline:hover{
    box-shadow: 0px 0px 10px 0.5vw var(--theme);
}
.hover-scale-down{
    transition: all var(--transition-time) ease;
}
.hover-scale-down:hover{
    transform: scale(0.9);
}
.hover-blur{
    transition: all var(--transition-time) ease;
}
.hover-blur:hover{
    filter: blur(1px);
}
.hover-opacity{
    transition: all var(--transition-time) ease;
}
.hover-opacity:hover{
    opacity: 0.9;
}
.hover-show{
    transition: all 2s ease;
}
.hover-show:hover .collapse{
    display: block;
}
.shadow{
    box-shadow: 0.25em 0.25em 0.75em 1px var(--shadow);
}
.opacity-min{
    opacity: 0.1 !important;
}
.opacity-half{
    opacity: 0.5 !important;
}
.opacity-max{
    opacity: 0.9 !important;
}
.animate-spin-slow{
    animation: ani-spin 10s linear infinite;
}
@keyframes ani-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
/*End of ANIMATION setting*/

/*CARD setting*/
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid #bbb;
}
.card-header, .card-footer{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 1em 1.5em;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.card-header{
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
.card-body{
    padding: 1.25em;
    text-align: justify;
}
.card-footer{
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
.stretched-link{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*End of CARD setting*/

/*TEXT setting*/
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.text-justify{
    text-align: justify !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}
.text-lowercase{
    text-transform: lowercase !important;
}
.text-theme{
    color: var(--theme) !important;
}
.text-primary{
    color: var(--primary) !important;
}
.text-info{
    color: var(--info) !important;
}
.text-success{
    color: var(--success) !important;
}
.text-warning{
    color: var(--warning) !important;
}
.text-danger{
    color: var(--danger) !important;
}
.text-dark{
    color: var(--dark) !important;
}
.text-light{
    color: var(--light) !important;
}
.border-theme{
    border: 1px solid var(--theme) !important;
}
.border-primary{
    border: 1px solid var(--primary) !important;
}
.border-info{
    border: 1px solid var(--info) !important;
}
.border-success{
    border: 1px solid var(--success) !important;
}
.border-warning{
    border: 1px solid var(--warning) !important;
}
.border-danger{
    border: 1px solid var(--danger) !important;
}
.border-dark{
    border: 1px solid var(--dark) !important;
}
.border-light{
    border: 1px solid var(--light) !important;
}
.font-weight-bold{
    font-weight: bold !important;
}
/*End of TEXT setting*/
/*BACKGROUND setting*/
.bg-theme{
    background-color: var(--theme) !important;
}
.bg-primary{
    background-color: var(--primary) !important;
    color: var(--light) !important;
}
.bg-info{
    background-color: var(--info) !important;
    color: var(--light) !important;
}
.bg-success{
    background-color: var(--success) !important;
    color: var(--light) !important;
}
.bg-warning{
    background-color: var(--warning) !important;
    color: var(--dark) !important;
}
.bg-danger{
    background-color: var(--danger) !important;
    color: var(--light) !important;
}
.bg-dark{
    background-color: var(--dark) !important;
    color: var(--light) !important;
}
.bg-light{
    background-color: var(--light) !important;
    color: var(--dark) !important;
}
/*End of BACKGROUND setting*/
/* Customizing controls */
fieldset{
    width: 400px;
    border-radius: 0.5em;
}
input[type='text'], input[type='password'], input[type='email']{
    padding: 0.5em 1em;
    border: 1px solid gray;
    border-radius: 0.25em;
    outline: none;
    transition: box-shadow var(--transition-time) ease-in-out;
}
input[type='text']:hover, input[type='password']:hover, input[type='email']:hover{
    box-shadow: 0px 0px 0px 3px var(--theme);
    border-color: transparent;
}
input[type='text']:focus, input[type='password']:focus, input[type='email']:focus{
    box-shadow: 0px 0px 0px 3px var(--theme);
    border-color: transparent;
}
input[disabled]:hover, input[disabled]:focus{
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.25);
}
label{
    font-weight: bold;
    font-size: 1.15em;
    width: 100%;
}
/*End of customizing controls*/
